html{
font-family: Helvetica;
font-size: 18px;
margin :0;
background-color: white;

}
div {
  display:block;
}
img {
  border-style: none;
}
head {
  display: none;
}

title {
  display: none;
}

h2, h1 {
  font-weight: bold;
}
.header {
 background-color: black;
 padding-top: 0.66rem;
 padding-bottom: 0.66rem;
 font-size: 1rem;
color:white;
 width: 100%;

}
.header .container {
  display: flex;
 align-items: center;
 padding: 12px 0 12px 0.5em;
}
.header .container span {
  font-size: 1rem;
  color: white;
}
.header img{
  height: 1.5rem;
  margin: 0rem 1rem
  0rem 0.5rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;

}


.company img {
  background-color: black;
  color: white;
  height: 1.5em;
  padding-right: 1rem;
  padding-left:0.5rem;
}
.company .container span {
  font-size: 1rem;
}
.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg"
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;

}
.headline {
  background-color: black;
  color: white;
  position: relative;
  padding: 2rem 3rem;
  width: 20em;
  top: 9em;
  font-weight: bold;

}
.headline h1 {
  font-size: 1em;

}

.headline h2 {
  font-size: 2em;
}
nav {
  background-color: firebrick;
  padding: 0.75 rem 0.5rem;
  color: white;
}



nav ul{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75 rem 0;
  padding: .75rem;

}
<!--flex container-->
.product{

}
.product  .container{
  display: flex;
  justify-content: space-between;

  padding: 3rem 0rem;
}
.item  {
  display:flex;
  flex-direction: column;
  align-items: center;



  width: 30%;
  border: 4px solid black;
}


.item img {

  height: 13rem;
  padding: 2rem 0rem;

}
.item span {

  padding: 0.5rem 0;
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
}
#glasses {

  width: 30%;
}


.contact {

  padding-bottom: 4rem;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
.hours-container .location-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 35%;
}

.location {
  width: 35%;
}


.location h1{
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}
span {
  color: black;
}


footer {
  background-color: black;
  height: 5rem;
  color: white;
  padding: 2.5rem 0;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

<!--Tablet Specific rules-->

@media only screen and (max-width: 1024px) and (orientation: portrait) and (min-width:470px){
body {
  font-size: 16px;
}
  .item {
    width: 47%;
  }
  nav ul {
    display: none;
  }
  #menu {
    display: block;
  }
  nav .container {
    display: flex;
    justify-content: center;
  }
  .item .glasses {
    display: none;
  }

}
@media only screen and (max-width: 470px) {
  .header img{
    margin-left: 42%;
  }
  .headline  {
    top: 10rem;
    padding: 1rem 2rem;
    width: 100%;
  }
  .headline h1 {
    font-size: 0.77 rem;}
    margin:0.25rem 0px;
    .headline h2 {
      font-size: 1 rem;
    }

  .main-banner {
    height: 15 rem;
  }
  .item: {
    width : 90%;
  }
  .item .glasses .watch {
    display: none;
  }
  .footer {
    text-align: center;
  }
  .hours-container .location-container {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
.header span {
  display: none;
}
.location {
  width: 90%;
  margin: 0.5 rem auto;
}
}
